*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* font  */
}

/*  default  */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    width: 2px;
    background-color: rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb{
   width: 10px;
}


body{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


.Page{
    width: 100vw;
    height: 100vh;
}

.Left{
    height: 100vh;
    width: 45vw;
    z-index: 2;
}

.Right{
    height: 100vh;
    width: 55vw;
    z-index: 1;
}

.Center{
    height: 400px;
    width: 400px;
   border-radius: 50%;
   margin-left: -200px;
   margin-top: -400px;   
}

.CenterHeader{
    font-size: 70px;
}

.dots-nav{
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 50%;
    padding: 2rem;
}
.rightPage{
    min-height: 100vh;
    position: relative;
}
  
/*  style right Images */
.rightCard{
    height: 60vh;
}

.rightCard11, .rightCard12{
   height: 70vh;
   margin: 10px;
}

.rightCard21, .rightCard31,.rightCard41,.rightCard71{
    position: absolute;
    margin-top: -50px;
    margin-left: -350px;
    bottom:0;
}
.rightCard22, .rightCard32,.rightCard42,.rightCard72{
    position: absolute;
    margin-right: -350px ;
    margin-top: -50px;
    top: 0;  
}

.rightCard43{
    height: 40vh;
    position: absolute;
    top: 0;
    right:0;
    margin-top: -200px;
}

.rightCard44{
    margin-bottom: -200px;
    height: 40vh;
    position: absolute;
    bottom: 0;
    right:0;
}
.rightCard45{
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0
}



 /* top */
.rightCard54{
    height: 55vh;
    position: absolute;
    top: 0;
    margin-top: -150px;
    margin-left: 250px ;
}

.rightCard52{
    height: 55vh;
    position: absolute;
    top: 0;
    margin-left: -300px;
    margin-top: -200px;
}
/* botttom -0 */

.rightCard53{
    height: 55vh;
    position: absolute;
    bottom: 0;
    margin-left: -300px;
    margin-bottom: -150px;
}
.rightCard51{
    height: 55vh;
    position: absolute;
    bottom: 0;
    margin-bottom: -200px;
    margin-left: 250px;

}
/*  sides */
.rightCard55{
    height: 55vh;
    position: absolute;
    right: 0;

}

.rightCard61{
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    
}
.rightCard62{
    height: 100%;
    position: absolute;
}

/*  responsiveness */

@media only screen and (max-width : "1200px") {
    .CenterHeader{
        font-size: 50px;
    }
}
